[Unit]
Description=Dbus based calculator service
Requires=dbus.service
After=dbus.service

[Service]
Type=dbus
BusName=com.mateuszmidor.CalcService
ExecStart=/usr/bin/CalcServer
Environment=COMMONAPI_DBUS_CONFIG=/etc/commonapi-dbus/Calc-stub.ini
#Restart=on-failure

[Install]
WantedBy=multi-user.target